<div class="container">
  <div class="container-item">
    <img
      src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMjlqMGs5NHBuamtiM3cxNjE5Y2tta3NtYXk5cngzajQxZmF0Ynl1cCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/UUyFLr9tCBhqLG1ukA/giphy.gif"
    />
  </div>
  <div class="container-item">
    We derive our core philosphy from the learning of Om Priya who once
    revolutionaize the way we learn. His phisplosphy is what derives our
    teachers, principals and other staff to make sure the his ideology stays.
  </div>
</div>
