<div class="container">
  <div class="container-item">
    <img
      src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExeGhzZjVyYmxvbm1obXZhMjI2emNqdDZvbDBicDZzeHdsZGZ2bnBucCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/2pVG9td6mpC2nakk8X/giphy.gif"
    />
  </div>
  <div class="container-item">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum in
    blanditiis nulla voluptate? Deleniti provident voluptas accusantium,
    corrupti quidem, eligendi iusto quis, blanditiis saepe aspernatur tempora
    expedita veritatis ut architecto?
  </div>
</div>
