<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img
      src="https://primefaces.org/cdn/primeng/images/primeng.svg"
      height="40"
    />
  </ng-template>
  <ng-template pTemplate="end">
    <div *ngIf="!isLoggedIn; else logoutButton">
      <button
        pButton
        pRipple
        label="Login/SignUp"
        class="p-button-success"
        (click)="redirectToLogin()"
      ></button>
    </div>
    <ng-template #logoutButton>
      <div class="profile-container">
        <i class="pi pi-user" style="font-size: 1.5rem"></i>
        <p-button
          label="Logout"
          severity="error"
          (click)="logoutMe()"
        ></p-button>
      </div>
    </ng-template>
  </ng-template>
</p-menubar>

<div *ngIf="isLoggedIn">
  <school-sub-navbar [role]="role"></school-sub-navbar>
</div>
