<div class="center">
  <h3>Give Feedback</h3>
  <p>Be kind with your words</p>
  <form (ngSubmit)="giveFeedback(f)" #f="ngForm">
    <label for="feedback_message">Enter Your Feedback:</label>
    <textarea
      rows="5"
      cols="30"
      name="feedback_message"
      id="feedback_message"
      pInputTextarea
      [(ngModel)]="feedbackMessage"
      [required]="true"
      [minlength]="10"
    ></textarea>
    <p-button type="submit" label="Submit" [disabled]="!f.valid"></p-button>
  </form>
</div>
