form {
  min-width: 50vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1vh;
}

input {
  padding: 0.5rem;
  border-radius: 12px;
  width: 20vw;
}

.button-container {
  display: flex;
  gap: 4vw;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}
