<div class="center">
  <div class="card flex justify-content-center">
    <p-card
      [header]="principalData.name"
      [subheader]="principalData.email"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <p>
        <span class="header">Gender:</span
        >{{ principalData.gender === "m" ? "Male" : "Female" }}
      </p>
      <p><span class="header">Status:</span> {{ principalData.status }}</p>
      <p><span class="header">User ID:</span> {{ principalData.user_id }}</p>
      <ng-template pTemplate="footer" *ngIf="principalData.status === 'active'">
        <p-button
          label="Update"
          icon="pi pi-check"
          severity="primary"
        ></p-button>
        <p-button
          label="Delete"
          icon="pi pi-times"
          styleClass="p-button-secondary"
          severity="danger"
          [style]="{ 'margin-left': '.5em' }"
        ></p-button>
      </ng-template>
      <ng-template
        pTemplate="footer"
        *ngIf="principalData.status === 'pending'"
      >
        <p-button
          label="Approve User"
          icon="pi pi-check"
          severity="success"
        ></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
