.container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.container-item {
  min-width: 200px;
  max-width: 400px;
}
img {
  max-width: 400px;
}
