<div class="container">
  <div class="container-item">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore beatae
    magnam omnis veritatis, dignissimos at cupiditate tenetur necessitatibus
    saepe iste reiciendis, expedita aut aliquam similique. Repellat, officiis?
    Minus, in at.
  </div>
  <div class="container-item">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, eos!
    Maxime quae necessitatibus ipsam at est eum adipisci iure accusantium fugit?
    Quos explicabo sequi illum eos repudiandae veniam aut quisquam.
  </div>
</div>
