<form (ngSubmit)="updatePrincipal(f)" #f="ngForm">
  <div class="input-container">
    <label for="name">Enter Your Name:</label>
    <input
      type="text"
      name="name"
      id="name"
      [(ngModel)]="name"
      required
      pattern="([A-Za-z]{2,25}[\s]?)+"
    />
  </div>
  <div class="input-container">
    <p>Select Your Gender:</p>
    <label>
      <input
        type="radio"
        [(ngModel)]="gender"
        name="gender"
        value="m"
        required
      />
      Male</label
    >
    <label>
      <input
        type="radio"
        [(ngModel)]="gender"
        name="gender"
        value="f"
        required
      />
      Female
    </label>
  </div>
  <div class="input-container">
    <label for="email">Enter Your Email:</label>
    <input
      type="email"
      name="email"
      id="email"
      [(ngModel)]="email"
      required
      email
    />
  </div>
  <div class="input-container">
    <label for="phone">Enter Your Phone Number:</label>
    <input
      type="text"
      name="phone"
      id="phone"
      [(ngModel)]="phone"
      required
      pattern="^[0-9]{10}$"
    />
  </div>
  <div class="button-container">
    <button
      type="submit"
      pButton
      label="Update"
      class="size"
      [disabled]="!f.valid"
    ></button>
  </div>
</form>
