<!-- Form to create form for creating issues -->
<div class="center">
  <h3>Raise Issue to Management</h3>
  <p>Your Identity will remain hidden</p>
  <form (ngSubmit)="raiseIssue(f)" #f="ngForm">
    <label for="issue_message">Enter Your Concern:</label>
    <textarea
      rows="5"
      cols="30"
      name="issue_message"
      id="issue_message"
      pInputTextarea
      [(ngModel)]="issueMessage"
      [required]="true"
      [minlength]="10"
    ></textarea>
    <p-button type="submit" label="Submit" [disabled]="!f.valid"></p-button>
  </form>
</div>
